<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <style>
      html { font-size: 140%; } 
      body { margin: 4em auto; max-width: 32em; width: 90%; line-height: 1.4em; }
      h1, h2 { margin-top: 2em; line-height: 1em; }
      pre { overflow-x: auto; margin: 2em 0; }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>{{ page.title }}</h1>
    {{ content }}
    <p>
      <a href="https://creativecommons.org/publicdomain/zero/1.0/">CC0</a> 
      by <a href="https://www.romanzolotarev.com/">Roman Zolotarev</a>
    </p>
  </body>
</html>
